"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "npm-shrinkwrap.json"
      "node_modules"
      "node_modules_temp"
      "assets"
      "build-output"
      "bin"
      "fonts"
      "font-awesome"
      "images"
      "build"
      "flow-typed/npm"
    ]
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: false
    fontSize: 13
    scrollSensitivity: 80
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabType: "hard"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "2010c646-407a-9b97-08f0-cf11051c1ef9"
  "git-diff":
    showIconsInEditorGutter: true
  "linter-eslint":
    fixOnSave: true
  "linter-flow":
    executablePath: "node_modules/.bin/flow"
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
    prettierEslintOptions: {}
    prettierOptions:
      printWidth: 120
      trailingComma: "all"
      useTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
